  .parent-speaker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: rgb(38, 39, 49);
    gap: 2rem;
  }
  
  .left {
    width: 50rem;
    aspect-ratio: 1;
  }
  
  .right {
    width: 50rem;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .circle {
    height: 16.55rem;
    width: 16.55rem;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    border-radius: 0 50% 50% 0;
    box-shadow: 0 0 0 1rem rgb(38, 39, 49),
                0 0 0 2rem turquoise,
                0 0 0 3rem rgb(38, 39, 49),
                0 0 0 4rem turquoise,
               inset 0 0 0 1rem turquoise,
               inset 0 0 0 2rem rgb(38, 39, 49),
               inset 0 0 0 3rem turquoise;
               animation: shadowAnimation 2s infinite;
               /* animation: shadowAnimation 2s infinite alternate; */
  }

  @keyframes shadowAnimation {
    0% {
      box-shadow: 0 0 0 1rem rgb(38, 39, 49),
                  0 0 0 2rem turquoise,
                  0 0 0 3rem rgb(38, 39, 49),
                  0 0 0 4rem turquoise,
                  inset 0 0 0 1rem turquoise,
                  inset 0 0 0 2rem rgb(38, 39, 49),
                  inset 0 0 0 3rem turquoise;
    }
    50% {
      box-shadow: 0 0 0 1.2rem rgb(38, 39, 49),
                  0 0 0 2.4rem turquoise,
                  0 0 0 3.6rem rgb(38, 39, 49),
                  0 0 0 4.8rem turquoise,
                  inset 0 0 0 1rem turquoise,
                  inset 0 0 0 2rem rgb(38, 39, 49),
                  inset 0 0 0 3rem turquoise;
    }
  }

  .left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .left .square{
    height: 15%;
    width: 15%;
    position: absolute;
    right: 9rem;
    border-radius: 1rem 0  0 1rem ;
    background-color: turquoise;
  }

  .left .triangle{
    height:15%;
    width: 1%;
    border: 1px solid black;
  }
  .left .triangle{
    border: 150px solid transparent;
    border-right-color: turquoise;
  }